.App {
  text-align: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

.App-header {
  margin: 0.5rem;
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.App-header-logo {
  width: 90vw;
  height: 10vh;
}

.App-body {
  width: 100vw;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.logo_zingcam_photo {
  border-radius: 10vi;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #E0FE69;}

.launch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding-top: 2vh;
  padding-bottom: 2vh ;
  padding-left: 10vw;
  padding-right: 10vw;
  border-radius: 5vi;
  background-color: #2c56d4;
}
.card-photo {
  display: flex;
  align-items: center;
  border-radius: 5vi;
  margin: 3vi;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-color: #1545d3;
  background-color: #e0fe699d;
  border-width: 1vi;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.card-video {
  display: flex;
  align-items: center;
  border-radius: 5vi;
  margin: 3vi;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-color: #1545d3;
  background-color: #e0fe699d;
  border-width: 1vi;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.card-btn {
  margin: 3vi;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh ;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 5vi;
  background-color: #2c56d4;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.refresh {
  background-color: #2c56d4;
  padding: 2vi;border-radius: 10vi ;

}
.card-stats {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3vi;
  border-radius: 5vi;
  border-color: #1545d3;
  background-color: #e0fe699d;
  border-width: 1vi;
}
.client_photo_url {
  border-radius: 5vi;
  width: 80vw;
  height: 20vh;
}

.client_video_url {
  border-radius: 5vi;
  width: 80vw;
  height: 20vh;
}
